include ios-head
            a(href='/balance').button-block=data.i18n['balance']
            a(href='/im').button-block=data.i18n['message-to-service']
            a(href='/settings').button-block=data.i18n['settings']
            a(href='/logout').button-block=data.i18n['logout']
