doctype
html
    head
        meta(charset='utf-8')
        title=''
        meta(name='viewport', content='initial-scale=1, maximum-scale=1, user-scalable=no')
        meta(name='apple-mobile-web-app-capable', content='yes')
        meta(name='apple-mobile-web-app-status-bar-style', content='black')
        link(rel='apple-touch-icon-precomposed', sizes='72x72', href='touch-icons/apple-touch-icon-72x72.png')
        link(rel='apple-touch-icon-precomposed', sizes='57x57', href='touch-icons/apple-touch-icon-57x57.png')
        link(rel='stylesheet', href='/static/components/ratchet/dist/ratchet.css')
        link(rel='stylesheet', href='/static/css/ios.css')
        script(src='/static/components/jquery/jquery.min.js')
        script(src='/static/components/ratchet/dist/ratchet.js')
        script(src='/static/components/URL.js/dist/URL.js')
        script(src='/static/js/ios.js')
    body
        header.bar-title
            h5.title='ТСЖ Mobile'
        .content
            .content-padded
