include ios-h
            form
                div(class="input-group")
                    div(class="input-row")
                        label='Full name'
                        input(type="text",placeholder="Mister Ratchet")
                    div(class="input-row")
                        label='Email'
                        input(type="email",placeholder="ratchetframework@gmail.com")
                    div(class="input-row")
                        label='Username'
                        input(type="text",placeholder="goRatchet")
