input[type='submit'] {
    width: 100%;
}
.content {
    padding: 10px;
}
.im-form {
    display: none;
}
li.pull-right {
    text-align: right;
}
ul.list li {
    position: relative;
}
ul.list .from {
    border-radius: 10px 0 0 0;
    background: #222;
    position: absolute;
    bottom: 0;
    right: 0;
    color: #ddd;
    padding: 2px 10px;
}
